*{
    margin: 0px;
    padding: 0px;
}
*{
    box-sizing: border-box;
}
#code{
    height: 100vh;
   overflow: hidden;
}
#paper > pre {
    padding-left: 16px;
}
.token.selector{
    color: black;
}
.token.property{
    color: black;
}
.token.function{
    color: black;
}

#paper > .content{
    font-size: 20px;
     padding-left: 16px;
    margin:20px;
    background: white;
  }
  