*{
    margin: 0px;
    padding: 0px;
}
*{
    box-sizing: border-box;
}
#code{
    height: 100vh;
   overflow: hidden;
}
#paper > pre {
    padding-left: 16px;
    font-size: 26px;
}
.token.selector{
    color: black;
}
.token.property{
    color: black;
}
.token.function{
    color: black;
}